/* @import '~ng2-tree/styles.css';  */
@import '~angular-tree-component/dist/angular-tree-component.css'; 
/* You can add global styles to this file, and also import other style files */
table, th, td {
  border: 1px solid black;
  padding: 2px;  
}

a {
  color: blue;
}

a:hover {
  cursor: pointer;
  color: blue;
}


/*************CUSTOM CSS***********************/
body{
  background-color: #fff4d3;
}
.header{
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #fedcd2; 
  color: #bb4d21
}
.container{
  padding: 20px;
}

/********************************************/
.tree-node {
  color: #26A65B;
}
.tree-node.tree-node-leaf {
  color: #446CB3;
}
.tree-menu {
  color: #bb4d21;
}

.tree-menu .tree-menu-option:hover {
  background-color: #cfbd86;
}

.fa {
  padding: 3px;
}

.fa-check {
  color: #26A65B;
}

.fa-times {
  color: #bb4d21;
}

.node-content-wrapper:hover, .node-content-wrapper-active, 
.node-content-wrapper.node-content-wrapper-active:hover, 
.node-content-wrapper-active.node-content-wrapper-focused,
.node-content-wrapper-focused{
  background-color: #e5dbbd;
}

.node-content-wrapper:hover .tree-menu{
  display: inline !important;
}

/********************************************/